<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID・Pass</title>
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <div class="text-center">
                <h1>💛🔑あなたのID・Passwordをつくってみたよ🔑💛</h1>

            </div>
        </div>
    </div>
    <h1></h1>
    ID【{{ id }}】
    <br>
    pass【{{ password }}】
</body>
</html>