<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoreFile</title>
</head>
<body>
    <h1>🐾プロフィール🐾</h1>
    <h4>英語で入力してね‼</h4>

    <!-- フォームの作成 -->
    <form action="/add" method="post">
        user_id: <input type="text" name="user_id" required><br>
        name: <input type="text" name="name" required><br>
        nickname: <input type="text" name="nickname" required><br>
        age: <input type="text" name="age" required><br>
        birthday: <input type="text" name="birthday" required><br>
        birthplace: <input type="text" name="birthplace" required><br>
        birthcity: <input type="text" name="birthcity" required><br>
        food: <input type="text" name="food" required><br>
        hobby: <input type="text" name="hobby" required><br>
        book: <input type="text" name="book" required><br>
        myword: <input type="text" name="myword" required><br>
        color: <input type="text" name="color" required><br>
        music: <input type="text" name="music" required><br>
        respect_person: <input type="text" name="respect_person" required><br>


        <input type="submit" value="登録">
    </form>
</body>
</html>