<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoreFile</title>
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <div class="text-center">
                <h1>🐾プロフィール🐾</h1>
                <h4>英語で入力してね‼</h4>
            </div>
        </div>
    </div>

    <!-- フォームの作成 -->
    <div class="text-center">

        <form action="/add" method="post">
            <br><br>
            user_id<br>
            <input type="text" name="user_id" required><br>
            name<br>
            <input type="text" name="name" required><br>
            nickname<br> 
            <input type="text" name="nickname" required><br>
            age<br>
            <input type="text" name="age" required><br>
            birthday (ex.20081022)<br>
            <input type="text" name="birthday" required><br>
            birthplace<br>
            <input type="text" name="birthplace" required><br>
            birthcity<br>
            <input type="text" name="birthcity" required><br>
            food<br>
            <input type="text" name="food" required><br>
            hobby<br>
            <input type="text" name="hobby" required><br>
            book<br>
            <input type="text" name="book" required><br>
            myword<br>
            <input type="text" name="myword" required><br>
            color<br>
            <input type="text" name="color" required><br>
            music<br>
            <input type="text" name="music" required><br>
            respect_person<br>
            <input type="text" name="respect_person" required><br>
            <br>
    
            <input type="submit" value="登録">
        </form>
    </div>
</body>
</html>