<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自己紹介</title>
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <div class="row mt-4">
                <div class="text-center">
                    <h2>🍬🍭自己紹介文をつくってみたよ🍭🍬</h2>
                </div>
            </div>
        </div>
    </div>

        <br><br><br>

    <div class="text-center">
        【ノーマル】<br>
    </div>
    <br>
    <div class="mx-5">
        <div class="mx-5">
            <div class="mx-5">
                <div class="mx-5">
                    <div class="mx-5">
                        <div class="mx-5">
                            <div class="mx-5">
                                <div class="mx-5">
                                    <div class="mx-5">
                                        <div class="mx-5">
                                            <div class="mx-5">
                                                <div class="mx-5">      
                                                    <p>
                                                        はじめまして{{name_jp}}です。{{nickname_jp}}って呼んでください！<br>
                                                        {{birthplace_feature_jp}}が特徴の{{birthplace_jp}}出身です。<br>
                                                        趣味は{{hobby_jp}}で、最近は{{interest_jp}}に興味があります！<br>
                                                        長所は、{{positive_aspect_jp}}なので困ったら頼ってください！<br>
                                                        苦手なことは{{negative_aspect_jp}}です。<br>
                                                        {{food_jp}}が好きなので、食の趣味合う方いたら声かけてくれたら嬉しいです🍴<br>
                                                        最後に、私をひとことで表すと{{myword_jp}}です。<br>
                                                        よろしくお願いします!<br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <br><br><br>

    <div class="text-center">
    【一言版】<br>
    </div>
    <br>
    <div class="mx-5">
        <div class="mx-5">
            <div class="mx-5">
                <div class="mx-5">
                    <div class="mx-5">
                        <div class="mx-5">
                            <div class="mx-5">
                                <div class="mx-5">
                                    <div class="mx-5">
                                        <div class="mx-5">
                                            <div class="mx-5">
                                                <div class="mx-5">
                                                    <div class="mx-5">                                        
                                                        <p>
                                                            {{birthplace_jp}}出身の{{name_jp}}です。<br>
                                                            自分では{{myword_jp}}だと思っています。<br>
                                                            よろしくおねがいします！<br>
                                                        </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>