<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自己紹介テンプレート</title>
</head>
<body>
    <h1>自己紹介(ノーマル)</h1>
    <p>はじめまして！{{ name }}と申します。 {{ nickname }}と呼んでください！{{ birthplace }}という{{ birthplace_feature }}が有名なところ出身です。</p>
    <p>{{ hobby }}がすきです。{{ interest }}に興味があります！よろしくおねがいします。</p>

    <h1>自己紹介(就職活動)</h1>
    <p>はじめまして。{{ university }}・{{ faculty }}・{{ department }}の{{ name }}と申します。</p>
    <p>大学では{{ study }}を学んでいます。</p>
    <p>長所は{{ positive_aspect }}です。</p>
    <p>貴社の、〇〇に惹かれており、〇〇をお伝えしたいと思ってます。</p>
    <p>本日は、よろしくお願いいたします。</p>

    <h1>自己紹介文</h1>
</body>
</html>