<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自己形成の質問</title>
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
    <h1>【幼少期】将来の夢は？</h1><br>
    <h1>【幼少期】理想の人は？</h1><br>
    <h1>【幼少期】あこがれの人(キャラクター)は？</h1><br>
    <h1>【小学生】将来の夢は？なぜなりたかったのか？</h1><br>
    <h1>【小学生】理想の人は？</h1><br>
    <h1>【小学生】好きな人は？どんなところが好きだった？</h1><br>
    <h1>【小学生】何で遊ぶのが好きだった？</h1><br>
    <h1>【小学生】あなたに影響を与えた人は？どんな麺で影響を受けた？</h1><br>
    <h1>【小学生】信念は？</h1><br>
    <h1>【中学生】将来の夢は？なぜなりたかったのか？</h1><br>
    <h1>【中学生】理想の人は？</h1><br>
    <h1>【中学生】好きな人は？どんなところが好きだった？</h1><br>
    <h1>【中学生】何で遊ぶのが好きだった？</h1><br>
    <h1>【中学生】一番嬉しかった出来事は？</h1><br>
    <h1>【中学生】一番怒ったことはなにか？</h1><br>
    <h1>【中学生】一番悲しかったことはなにか？</h1><br>
    <h1>【中学生】一番頑張ったことはなにか？</h1><br>
    <h1>【中学生】あなたに影響を与えた人は？どのような影響を受けた？</h1><br>
    <h1>【中学生】小学生から変わった部分はあった？</h1><br>
    <h1>【中学生】信念は？</h1><br>
    <h1>【高校生】将来の夢は？なぜなりたかったのか？</h1><br>
    <h1>【高校生】理想の人は？</h1><br>
    <h1>【高校生】好きな人は？どんなところが好きだった？</h1><br>
    <h1>【高校生】一番嬉しかった出来事は？</h1><br>
    <h1>【高校生】一番怒った出来事は？</h1><br>
    <h1>【高校生】一番悲しかった出来事は？</h1><br>
    <h1>【高校生】やりなおせるならしたいことはある？なぜ後悔したのか？</h1><br>
    <h1>【高校生】中学生から変わった部分はあった？</h1><br>
    <h1>【高校生】あなたに影響を与えた人は？どのような影響を受けた？</h1><br>
    <h1>【高校生】理想の年収は？</h1><br>
    <h1>【高校生】理想の住まいは？</h1><br>
    <h1>【高校生】理想のパートナーは？</h1><br>
    <h1>【高校生】信念は？</h1><br>
    <h1>【大学生】将来の夢は？なぜなりたかったのか？</h1><br>
    <h1>【大学生】理想の人は？</h1><br>
    <h1>【大学生】好きな人は？どんなところが好きだった？</h1><br>
    <h1>【大学生】一番嬉しかった出来事は？</h1><br>
    <h1>【大学生】一番怒った出来事は？</h1><br>
    <h1>【大学生】一番悲しかったことは？</h1><br>
    <h1>【大学生】一番悲しかった出来事は？</h1><br>
    <h1>【大学生】やりなおせるならしたいことはある？なぜ後悔したのか？</h1><br>
    <h1>【大学生】高校生から変わった部分はあった？</h1><br>
    <h1>【大学生】理想の年収は？</h1><br>
    <h1>【大学生】理想の住まいは？</h1><br>
    <h1>【大学生】理想のパートナーは？</h1><br>
    <h1>【大学生】信念は？</h1><br>
    <h1>【大学生】あなたに影響を与えた人は？どのような影響を受けた？</h1><br>
    <h1>【】</h1><br>
    <h1>【】</h1><br>
    <h1>【】</h1><br>
    <h1>【】</h1><br>
    <h1>【】</h1><br>

</body>
</html>